[Unit]
Description=Campus Hub Next.js App
After=network.target

[Service]
Type=simple
Environment=NODE_ENV=production
WorkingDirectory=/var/www/Campus_Hub
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=10
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target


